<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>SLS_cs4400</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>phase3.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>phase3.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPC</servlet-name>
    <servlet-class>phase3.ViewPCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPC</servlet-name>
    <url-pattern>/viewPC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>phase3.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>phase3.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyApplications</servlet-name>
    <servlet-class>phase3.MyAppsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyApplications</servlet-name>
    <url-pattern>/myApps</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>phase3.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/add_course</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>phase3.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/add_project</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPopularProject</servlet-name>
    <servlet-class>phase3.ViewPopProjReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPopularProject</servlet-name>
    <url-pattern>/pop_proj_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewApplicationReport</servlet-name>
    <servlet-class>phase3.ViewApplReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApplicationReport</servlet-name>
    <url-pattern>/app_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewApplications</servlet-name>
    <servlet-class>phase3.ViewApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewApplications</servlet-name>
    <url-pattern>/appl_view</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
</web-app>